body {
  background: url(bg.jpg) no-repeat center;
  background-attachment: fixed;
  font-family: "Inclusive Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 1.4em;
  color: #f7f7f7;

  * {
    user-select: none;
  }

  #stats,
  #forecast,
  #today-top {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  animation: enter 0.6s ease forwards;
  opacity: 0;
}

#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding-bottom: 45px;
}

#today-top {
  margin: 0 auto;
  padding-top: 10.5rem;

  span {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.7);
  }

  * {
    z-index: 1;
  }

  &.sunny-cloudy {
    &::after {
      content: "";
      width: 390px;
      height: 210px;
      background: url(sunny-cloudy.png) no-repeat center;
      position: absolute;
      z-index: 0;
      top: 50px;
      opacity: 0.6;
      animation: glow 5s ease normal;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes glow {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.6;
  }
}

.card {
  padding: 2em;
}

#today-date {
  font-size: 0.6em;
}

#today-date,
#stats {
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.forecast-card {
  animation: enter 0.6s ease forwards;
  opacity: 0;
}

@keyframes enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.read-the-docs {
  color: #888;
}

#select-timeline {
  position: absolute;
  top: -25px;
  font-size: 0.8rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.8;
  width: 135px;
  text-align: left;
  user-select: none;

  > span {
    padding-left: 15px;
  }

  > #timeline-dropdown {
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    position: absolute;
    top: 30px;
    height: auto;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    z-index: 2;

    > span {
      padding: 10px 0 10px 15px;
      display: block;
      background: none;
      color: rgba(255, 255, 255, 0.8);

      &:hover {
        background: rgba(255, 255, 255, 0.8);
        color: rgba(0, 0, 0, 1);
      }

      &.timeline-option-hidden {
        display: none;
      }
    }
  }

  &.timeline-focused {
    opacity: 1;

    #timeline-dropdown {
      visibility: visible;
      opacity: 1;
    }
  }

  &:hover {
    opacity: 1;
  }

  > span::after {
    content: "";
    width: 10px;
    height: 10px;
    float: right;
    background: url(open-arrow.svg) no-repeat center right;
    background-size: contain;
    position: absolute;
    top: 3px;
    right: 0;
  }
}

.unit-toggle {
  > :not(span.unit-active) {
    opacity: 0.7;
    cursor: pointer;
  }

  > :not(span.unit-active):hover {
    opacity: 1;
    transition: 0.5s;
  }
}

#stats {
  font-size: 0.65em;
  font-weight: 600;

  > span > span {
    font-weight: 300;
    margin: 0 1.5rem 0 0.75rem;
  }
}

@media only screen and (max-width: 600px) {
  #stats {
    padding-left: 1rem;
  }
}

.wind {
  &::after {
    content: "";
    display: block;
    position: absolute;
    background: url(wind.svg) no-repeat center;
    background-size: contain;
    width: 13px;
    height: 13px;
    right: 3px;
  }

  &.n::after {
    transform: rotate(-90deg);
  }

  &.s::after {
    transform: rotate(90deg);
  }

  &.e::after {
    transform: rotate(60deg);
  }

  &.w::after {
    transform: rotate(60deg);
  }

  &.ne::after {
    transform: rotate(-60deg);
  }

  &.nw::after {
    transform: rotate(-120deg);
  }

  &.se::after {
    transform: rotate(60deg);
  }

  &.sw::after {
    transform: rotate(120deg);
  }
}

#cards {
  padding-top: 0.2rem;

  > div {
    background: none;
    font-size: 0.7em;
    font-weight: 600;
    padding: 0 1rem 2rem;
    color: rgba(255, 255, 255, 0.6);

    > span:nth-child(2) {
      font-size: 2em;
      font-weight: 300;
    }

    > span:nth-child(2) {
      font-size: 2em;
      font-weight: 300;
    }

    > span:not(:nth-child(2)) {
      font-size: 0.75em;

      > span {
        float: right;
        font-weight: 300;
      }
    }
  }

  > div:not(.card-active):hover {
    background: rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 1);
    transition: 0.5s;
    cursor: pointer;
  }

  > div.card-active {
    background: rgba(0, 0, 0, 0.25);
  }
}

#forecast {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}

footer {
  bottom: 0;
  height: 55px;
  line-height: 55px;
  font-size: 0.8rem;
  margin: 0;
  background: rgba(0, 0, 0, 0.4);

  a {
    left: 0;
    margin-left: 2rem;
    color: #fff;
    transition: 0.5s;

    &:hover {
      margin-top: -5px;
      color: #fff;
    }
  }

  img {
    margin-top: 13px;
    margin-right: 15px;
    width: 25px;
    height: 25px;
  }
}
